@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h3{
    font-size: 40px;
    color: #324099;
}
h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

/*.section-m1 {
    margin: 40px 0;
}*/

button.normal{
    font-size: 14px;
    padding: 15px 30px;
    color: #000;
    border:none;
    font-weight: 600;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    padding: 11px 18px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}


/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a; 
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*#mobile{
    display: none;
    align-items: center;
}*/

#close{
    display: none;
}


/* Home Page */
#hero{
    background-image: url("image\\bg.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("image/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


    

/signup/

form{
    /border: 2px solid grey;/
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;  
}
.body-signup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #63b3ed, #667eea);
  padding-top:80px;
  
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    height: 100vh;
    background-image: url("image\\bg_signup.jpeg");
    background-size: cover;
} 
.signup-form{
    background-color: white;
    
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color:  #2f855a;;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background-color: #2f855a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.signup-form button:hover {
  background-color: #2f855a;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.login-text a {
  color:  #2f855a;;
  text-decoration: none;
  font-weight: bold;
}

/login/
.login-container {
    display: flex;
    justify-content: center;
  
  align-items: center;
  padding: 40px 30px;
  height: 100vh;
  background-image: url("image\\bg_signup.jpeg");
    background-size: cover;
  
}
.login-form{
    background-color: white;
}
.login-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #2f855a;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #2f855a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #276749;
}
.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #2f855a;
  text-decoration: none;
  font-weight: bold;
}
